[Unit]
Description=Asus Fan Control Service

[Service]
Type=simple
ExecStart=/usr/local/bin/asus_fanctl
Restart=on-failure

# Environment variables, future use.
# Environment=FANCTL_CONFIG_DIR=%h/.config/fanctl 
# Environment=FANCTL_LOG_FILE=%h/.local/share/fanctl/fanctl.log

# User and Group 
User=root

[Install]
WantedBy=multi-user.target
