[Unit]
Description=Asus Fan Control Service

[Service]
Type=simple
ExecStart=/usr/local/bin/asus_fanctl
Restart=on-failure

# User and Group 
User=root

[Install]
WantedBy=multi-user.target
